:root{
    /* Primary */
    --moderateBlue: hsl(238, 40%, 52%);
    --softRed: hsl(358, 79%, 66%);
    --lightGrayishBlue: hsl(239, 57%, 85%);
    --paleRed: hsl(357, 100%, 86%);

    /* Neutral */
    --darkBlue: hsl(212, 24%, 26%);
    --grayishBlue: hsl(211, 10%, 45%);
    --lightGrey: hsl(223, 19%, 93%);
    --veryLightGrey: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%);

    /* Font-size */
    --fontSize: 16px;

    /* Font */
    --family: 'Rubik', sans-serif;
}

*{
    font-family: var(--family);
    font-size: 16px;
}

#content{
    margin-top: 50px;
    /* border: 2px solid black; */
    width: 50%;
}

body {
    background-color: var(--lightGrey);
}

.card{
    margin-bottom: 12px;
}

/* .card-body{
    border: 2px dashed black;
} */

.pic, .name, .time, .reply{
    display: block;
}

.pic, .name, .time{
    margin-right: 16px;
}

.commentInfo{
    /* border: 2px solid red; */
    margin-bottom: 10px;
}

.name, .reply, .atReply{
    font-weight: bold;
}

.comment, .time{
    color: var(--grayishBlue);
}

.pic{
    height: 40px;
    width: 40px;
}

.reply, .atReply{
    color: var(--moderateBlue);
}

/* .replyContainer{
    
} */

